body {
	font-family: Arial, sans-serif;
	margin: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	cursor: pointer;
	display: block;
}

.card img {
	width: 400px;
	height: 400px;
}

.slideshow-container {
	display: block;
	max-width: 400px;
	height: 400px;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.mySlides {
	display: none;
	max-width: 100%;
}

.mySlides img {
	width: 400px;
	height: 400px;
}
